page-home {


        background: red !important;
        background-color: red !important;

        .myColor{
            background-color:#F1BA32 !important;
            color: black;
        }  



    
    
}


